body{
       margin: 0px;
       padding: 0px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       background-image: url("images/background.jpg") ;
       background-size: cover;
   }
   canvas{
       
       box-shadow: orange 20px 10px 50px;
   }
h1{
    color: azure;
}